body{
    font-family: monospace;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg");
}

table{
    border: 3px solid black;
    width: 100%vh;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
td{
    font-size:large;
    padding: 10px;
    border: 1px dotted black;

}
th{
    font-weight: bold;
    border: 3px solid black;
}
h1{
    background-color: white;
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index:1;
    background-color: white;
}
